<%totalPrice = 0%>
<% @carts.each do |cart| %>
  <%if cart.product.salePrice == nil %>
    <% totalPrice += cart.product.price * cart.quantity %>
  <%else%>
    <% totalPrice += cart.product.salePrice * cart.quantity %>
  <%end%>
<%end%>
<% totalTaxPrice = totalPrice + (totalPrice * current_user.province.tax) %>
<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: $<%= totalPrice %></span><br/>
      <span>Province: <%= current_user.province.name %></span><br/>
      <span>Address: <%= current_user.address %></span><br/>
      <span>Tax Rate: <%= current_user.province.tax * 100 %>%</span><br/>
      <span>Total Price: $<%= totalTaxPrice %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="<%= totalTaxPrice * 100 %>"
          data-email="<%= current_user.email %>"
          data-locale="auto">
            Stripe.setPublishableKey('pk_test_Q6dWeMuNpt0qtA9IFt5Ebor8009mRZcBfF');
          </script>
<% end %>